/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Tailwindcss */
@import "tailwindcss";

/* css variables  */
:root{
    --primary: #ffffff;
    --secondary: #4CA14D;
    --teritary: #ECEEED;
    --green: #E6F3ED;
}
@theme {
    /* custom fonts */
    --font-inknut: "Inknut Antiqua", sans-serif;
    --font-inter: "Inter", sans-serif ;
}
@layer components{
    .click-btn{
        @apply bg-(--secondary)  text-xs font-bold text-white p-1 rounded-sm font-inter
    }
    .otp{
        @apply w-7 h-7 rounded bg-gray-300 space-x-20 mx-1.5 focus:border-2 focus:border-(--teritary)
    }
}
